<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAh8iiiAZC4ZPREAl4pIqQ2eBnZBCE6LSs</string>
	<key>GCM_SENDER_ID</key>
	<string>635196190946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sneakerhive</string>
	<key>PROJECT_ID</key>
	<string>shoesphere-e3441</string>
	<key>STORAGE_BUCKET</key>
	<string>shoesphere-e3441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635196190946:ios:df07b50abdc1cb3d1d6ebb</string>
</dict>
</plist>